<div class="toolExplanation">
    This is the create tool. You can select one of the types of objects down below. When hovering over an object,
    more information about it is shown. Click on the map to create that object. <br/>
    Don't worry, you can change the images yourself by using the Info Tool!
</div>
<div id="createTool" class="subTool">
    <div id="createMarketStall" class="subToolButton tooltipAble" data-object-type="MarketStall" data-tooltip="Create a Market Stall">
        <img src="{{ asset('bundles/manager/images/mapobjects/marketstall.png') }}"/>
    </div>
    <div id="createStage" class="subToolButton tooltipAble" data-object-type="Stage" data-tooltip="Create a Music Stage">
        <img src="{{ asset('bundles/manager/images/mapobjects/podium.png') }}"/>
    </div>
    <div id="createInfoStand" class="subToolButton tooltipAble" data-object-type="InfoStand" data-tooltip="Create an Info Stand">
        <img src="{{ asset('bundles/manager/images/mapobjects/infostand.png') }}"/>
    </div>
    <div id="createToilet" class="subToolButton tooltipAble" data-object-type="Toilet" data-tooltip="Create a Toilet Area">
        <img src="{{ asset('bundles/manager/images/mapobjects/toilet.png') }}"/>
    </div>
    <div id="createFoodStand" class="subToolButton tooltipAble" data-object-type="FoodStand" data-tooltip="Create a Food Stand">
        <img src="{{ asset('bundles/manager/images/mapobjects/food.png') }}"/>
    </div>
</div>

