{% extends "ManagerBundle:Events:base.html.twig" %}


{% block subtitle %}{{ event.name }} {% endblock %}

{% block subcontent %}
    <h2>{{ event.name }}</h2>

    <div id="event_info">
        <div class="event_info_row">
            <div class="event_info_label">Start:</div>
            <div class="event_info_data">
                <div class="event_info_data_date">{{ event.startdate|date("m/d/Y") }}</div>
                <div class="event_info_data_time">{{ event.startdate|date("H:i") }}</div>
            </div>
        </div>
        <div class="event_info_row">
            <div class="event_info_label">End:</div>
            <div class="event_info_data">
                <div class="event_info_data_date">{{ event.enddate|date("m/d/Y") }}</div>
                <div class="event_info_data_time">{{ event.enddate|date("H:i") }}</div>
            </div>
        </div>
        <div class="event_info_row">
            <div class="event_info_label">Description:</div>
            <div class="event_info_data">
                {{ event.description }}
            </div>
        </div>
    </div>

    <div id="event_image">
        <img class="event_image_thumb" src="{{ event.image.getWebPath() }}"/>
    </div>

{% endblock %}

{% set showactions = true %}
{% block actions %}
    <div class="actionButton"><a href="{{ path('edit_event', {'id': event.id }) }}">Edit</a></div>
    <div class="actionButton"><a href="{{ path('edit_map_event', {'id': event.id }) }}">Edit Map</a></div>
    <div class="actionButton"><a href="{{ path('delete_event', {'id': event.id }) }}">Delete</a></div>
    <div class="actionButton"><a href="{{ path('event_list') }}">Go Back</a></div>

{% endblock %}