<html>
<head>
    <title>{% block title %}{% endblock %}</title>


    <!-- Main scripts -->
    <script src="{{ asset('bundles/manager/js/jquery-1.10.2.js') }}"></script>
    <!-- Page specific scripts -->
    {% block scripts %} {% endblock %}
    {% stylesheets '@ManagerBundle/Resources/less/main/*' filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <!-- Page specific stylesheets -->
    {% block stylesheets %} {% endblock %}

</head>
<body>
<div class="pageContainer">
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="notice">Notice: {{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="error">Warning: {{ flashMessage }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="warning">Warning: {{ flashMessage }}</div>
    {% endfor %}
    {% block content %}
    {% endblock %}
</div>

</body>
</html>